@page
@model PokeVerse.Pages.Pokedex.IndexModel
@{
}


<form asp-page="/pokedex" method="post">
    <h1>This is the pokedex</h1>
    <br/>
    Here are a list of pokemon currently in your pokedex.
    <tbody>
        
        @foreach (var item in Model.TrainerPokedex.PokedexPokemons)
        {
            @item.Pokemon.Name;
            <br/>

            @*<partial name="_PokedexPartial" for="@item" />*@
        }
    </tbody>
</form>
