@page
@model PokeVerse.Pages.Pokedex.IndexModel
@{
}


<form asp-page="/pokedex" method="get">
    <h1>This is the pokedex</h1>

    Here are a list of pokemon currently in your pokedex.
    <br />
    <tbody>

        @foreach (var item in Model.TrainerPokedex.PokedexPokemons)
        {
            @item.PokemonId
            <br />

            @*<partial name="_PokedexPartial" for="@item" />*@
        }
    </tbody>
</form>
