@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is some text. <img src="~/images/map.png" alt="Smiley face" width="500"
        height="500" style="float:right">This is some text. This is some text. This is some text.</p>
<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="~/images/001.png" alt="Card image cap">
    <div class="card-body">
        <CENTER>
            <h5 class="card-title">Bulbasor</h5>
            <p class="card-text">GRASS POISON</p>
        </CENTER>

        <div class="row">
            <div class="col-md-10 bg-light text-right">
                <button type="button" class="btn btn-primary">ADD +</button>
                <button type="button" class="btn btn-warning ml-2">DELETE -</button>
            </div>
        </div>

    </div>
</div>
