@page
@model RegisterModel

<body class="login">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5 font-weight-bold">PokeVerse</h1>
                <img class="mt-5" style="height:51%; width:100%;" src="~/images/loginbg.png" />
                <div class="row justify-content-center">
                    <button id="signinbtn" type="submit" class="btn btn-lg mt-5">Login to Access Self Collection</button>
                </div>
            </div>

            <div class="col">
                <form id="account" method="post" class="py-5">
                    <div class="d-flex justify-content-center">
                        <i class="icon-map-marker icon-4x text-success"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h1 class="h3 mb-5 font-weight-normal">Sign Up</h1>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="form-group my-5 py-1">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email address*" required autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group my-5 py-1">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password*" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group my-5 py-1">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm your Password*" required />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group my-5 py-1">
                        <div class="checkbox">
                            <label asp-for="Input.ByClick">
                                <input asp-for="Input.ByClick" />
                                @Html.DisplayNameFor(m => m.Input.ByClick)
                            </label><a href="#"> Terms and Conditions</a>
                        </div>
                    </div>
                    <div class="form-group my-5 py-4">
                        <button id="signinbtn" type="submit" class="btn btn-lg btn-block">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://kit.fontawesome.com/485afd012e.js" crossorigin="anonymous"></script>
}
